<% layout("layouts/boilerplate.ejs") -%>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title fs-4">Move <%= list.name %> to:</h1>
            </div>
        </div>
    </div>
</div>
