<% layout("layouts/boilerplate") -%> 

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title fs-4">Contact</h1>

                <p>There is no email service available right now for GameSorting. If you wish to contact me because you have questions or problems, 
                    please send me an email at the address below. 
                </p>

                <p><a class="email-link" href="mailto:contact@bluedragon28.com"><b>contact@bluedragon28.com</b></a></p>

                <p>If you lost your password, I can reset it. To do so you need to send me the username and the email of your GameSorting account.</p>

                <p>I hope you are enjoying using this web app as much as I do.</p>

                <p>Take care</p>

                <p>Erwan Saclier de la Bâtie</p>
            </div>
        </div>
    </div>
</div>
