<% layout("layouts/boilerplate.ejs") -%>

<link rel="stylesheet" href="/styles/admin/adminIndex.1.0.0.css">

<% 
const sections = [
    {
        name: "Activities",
        icon: "/images/statistics.svg",
        alt: "Statistics icon",
        endpoint: "/admin/activities"
    },
    {
        name: "Users",
        icon: "/images/userIcon.svg",
        alt: "User icon",
        endpoint: "/admin/users"
    },
];
%>

<h1 class="display-4">Admin Control Center</h1>

<div class="d-flex flex-row flex-wrap justify-content-start">
    <% for (const section of sections) { %>
        <a href="<%= section.endpoint %>" class="card section-card">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between align-items-center w-100 h-100">
                    <img src="<%= section.icon %>" alt="<%= section.alt %>">
                    <div><%= section.name %></div>
                </div>
            </div>
        </a>
    <% } %>
</div>
