<% layout("layouts/boilerplate.ejs") -%>

<% 
const sections = [
    {
        name: "Activities",
        icon: "../partials/htmx/icons/statistics.ejs",
        endpoint: "/admin/activities"
    },
    {
        name: "Users",
        icon: "../partials/htmx/icons/user_icon.ejs",
        endpoint: "/admin/users"
    },
];
%>

<h1 class="display-4 mt-3 user-select-none">Admin Control Center</h1>

<div class="d-flex flex-row flex-wrap justify-content-start user-select-none">
    <% for (const section of sections) { %>
        <a hx-boost="true" href="<%= section.endpoint %>" class="card section-card">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between align-items-center w-100 h-100">
                    <%- include(section.icon, { width: "96px", height: "96px" }) %>
                    <div><%= section.name %></div>
                </div>
            </div>
        </a>
    <% } %>
</div>
