<div class="modal fade" tabindex="-1" id="cookiesWarningModal" aria-labelledby="Warning about cookes" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">This Web App Use Cookies</h1>
            </div>
            <div class="modal-body">
                <p>This web app use only coockies that are essential to work properly.<br>
                It may also store some data into the local storage of you web browsers (including your anwser to this dialog).</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" id="accept-essential-cookies-button">Accept Essential Coockies</button>
            </div>
        </div>
    </div>
</div>

<script type="module" src="/javascript/coockiesWarning.js"></script>
