<footer class="footer bg-dark pt-3 pb-3 mt-auto" data-bs-theme="dark">
    <div class="container">
        <span class="text-muted">&copy; 2023 Erwan Saclier de la Bâtie (BlueDragon28) All rights reserved</span>
    </div>
</footer>
