<style>
.footer-link {
    transition: filter 500ms;
}

.footer-link:hover {
    filter: brightness(140%);
}
</style>

<footer class="footer bg-body-tertiary pt-3 pb-3 mt-auto">
    <div class="container d-flex flex-row">
        <div>
            <a class="text-muted text-decoration-none footer-link" href="https://github.com/BlueDragon28/gamesorting_webapp/blob/development/LICENSE">&copy; 2023 Erwan Saclier de la Bâtie (BlueDragon28)</a>
        </div>
        <div class="flex-grow-1"></div>
        <div>
            <a class="text-muted text-decoration-none footer-link" href="https://github.com/bluedragon28/gamesorting_webapp">source code</a>
            <a class="text-muted text-decoration-none footer-link" href="/contact">contact</a>
        </div>
    </div>
</footer>
