<footer class="footer bg-dark pt-3 pb-3 mt-auto" data-bs-theme="dark">
    <div class="container">
        <a class="text-muted text-decoration-none" href="https://github.com/BlueDragon28">&copy; 2023 Erwan Saclier de la Bâtie (BlueDragon28)</a>
    </div>
</footer>
