<form class="my-3 " action="<%= searchEndpoint %>">
    <div class="d-flex">
        <div class="flex-fill">
            <input class="form-control mx-0" type="text" name="search" placeholder="Search" value="<%= searchText %>">
        </div>
        <div class="px-2">
            <button class="btn btn-success search-btn m-0" type="submit"><img 
            src="/images/search.svg" alt="Search lists icon"></button>
        </div>
    </div>
</form>

