<% layout("layouts/boilerplate") -%>

<div class="row mt-3">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title fs-4 text-center fw-bold">About</h1>

                <p>This web application is licensed under the MIT license. The source code can be accessed on <a href="https://github.com/BlueDragon28/gamesorting_webapp">GitHub</a>. This application was made with love, I hope you will enjoy it.</p>

                <p class="fs-4 fw-bold">Stack:</p>

                <ul>
                    <li>Backend: Nodejs, ExpressJS, EJS, MariaDB.</li>
                    <li>Fontend: HTMX, Vanilla JavaScript.</li>
                </ul>

                <p>Version: <%= appVersion %></p>
            </div>
        </div>
    </div>
</div>
