<% layout("layouts/boilerplate") -%> 

<h1 class="gamesorting_h1">Game Sorting</h1>

<p class="presentation_text">A place to create lists of wishes about Games, Movies, Series, Books...</p>

<p class="presentation_text">Interested?</p>

<a class="btn large_register_button btn-primary" href="/users/register">Register</a>
