<% layout("layouts/boilerplate") -%> 

<h1 class="text-center display-1 fw-medium mt-2 user-select-none">Game Sorting</h1>

<p class="text-center fs-4 user-select-none">A place to create lists of wishes about Games, Movies, Series, Books...</p>

<p class="text-center fs-4 user-select-none">Interested?</p>

<a class="btn btn-outline-secondary d-block mx-auto my-0 large_register_button fs-2 user-select-none" href="/users/register">Register</a>
