<% layout("layouts/boilerplate") -%> 

<h1 class="text-center display-1 fw-medium mt-2">Game Sorting</h1>

<p class="text-center fs-4">A place to create lists of wishes about Games, Movies, Series, Books...</p>

<p class="text-center fs-4">Interested?</p>

<a class="btn btn-outline-secondary d-block mx-auto my-0 large_register_button fs-2" href="/users/register">Register</a>
