<% layout("layouts/boilerplate.ejs") -%> 

<h1>Collections List:</h1>

<a href="/collections/new">New Collection</a>

<ul>
    <% for (let collection of collections.data) { %> 
        <li><a href="/collections/<%= collection.CollectionID %>"><%= collection.Name %></a></li>
    <% } %> 
</ul>