<% layout("layouts/boilerplate.ejs") -%>

<div id="collections-lists-global-row" class="row h-100">
    <%- include("../partials/htmx/collections/partials/collections_lists_empty.ejs", {
        endpointUrl: "/collections/collections_lists_list"
    }) %>
    <%- include("../partials/htmx/collections/partials/items_empty.ejs") %>
</div>
