<% layout("layouts/boilerplate.ejs") -%> 

<h1 class="display-4">Collections</h1>

<div class="mb-4">
    <a class="btn btn-primary" href="/collections/new">New Collection</a>
</div>

<link rel="stylesheet" href="/styles/card.css">

<% for(let collection of collections) { %>
    <div class="row pb-1">
        <div class="col-16">
            <a class="item-card" href="/collections/<%= collection.id %>">
                    <h2><%= collection.name %></h2>
            </a>
        </div>
    </div>
<% } %>

<%- include("../partials/pagination.ejs") %>
