<% layout("layouts/boilerplate.ejs") -%> 

<h1 class="display-4">Collections</h1>

<section class="mb-4">
    <a class="btn btn-primary" href="/collections/new">New Collection</a>
</section>

<% for(let collection of collections.data) { %>
    <div class="row pb-3">
        <div class="col-16">
            <div class="card">
                <div class="card-body">
                    <h2 class="fs-4 fw-normal mb-4"><%= collection.Name %></h2>

                    <a class="btn btn-info" href="/collections/<%= collection.CollectionID %>">View Collection</a>
                </div>
            </div>
        </div>
    </div>
<% } %>