<% layout("layouts/boilerplate.ejs") -%> 

<h1 class="display-4">Collections</h1>

<div class="mb-4">
    <a class="btn btn-primary" href="/collections/new">New Collection</a>
</div>

<% for(let collection of collections) { %>
    <%- include("../partials/itemWidget.ejs", { 
         url: `/collections/${collection.id}`,
         title: collection.name
     }) %>
<% } %>

<%- include("../partials/pagination.ejs") %>
