<% layout("layouts/boilerplate.ejs") -%>

<div class="row h-100">
    <div class="col-4 m-0 p-0"
        hx-get="/collections/collections_lists_list"
        hx-trigger="load"
        hx-swap="outerHTML">
        <div class="card h-100">
            <div class="card-header">
                Collections/List
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An Item</li>
                <li class="list-group-item">An Item2</li>
                <li class="list-group-item">An Item3</li>
            </ul>
        </div>
    </div>
    <div class="col-8 m-0 p-0">
        <div class="card h-100">
            <div class="card-header">Items</div>
            <div class="card-body d-flex justify-content-center align-items-center">
                <div>No Items</div>
            </div>
        </div>
    </div>
</div>
