<% layout("layouts/boilerplate.ejs") -%> 

<!-- A simple form to edit a collection -->
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title fs-4">Edit <%= collection.name %> Collection</h1>

                <!-- The only information we need for the form is the name of the collection -->
                <form class="needs-validation" action="/collections/<%= collection.id %>?_method=PUT" method="post" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="name">Name</label>
                        <input class="form-control" type="text" name="name" id="name" value="<%= collection.name %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            You need to set a name!
                        </div>
                    </div>
                
                    <button class="btn btn-primary d-block w-100 mb-2">Edit</button>

                    <!-- To allow the the button to appear next to the Create btn, the cancel link has been put there -->
                    <a class="btn btn-secondary d-block w-100" href="/collections/<%= collection.id %>">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
