<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Collection</title>
</head>
<body>
    <h1>Creating a new collection: </h1>
    <form action="/collections" method="post">
        <section>
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </section>

        <button style="margin-top: 1rem; margin-bottom: 1rem;">Create</button>
    </form>

    <a href="/collections">Cancel</a>
</body>
</html>