.stars-with-5 {
    width: calc(300px * 5);
}

.stars-with-6 {
    width: calc(300px * 6);
}

.stars-with-7 {
    width: calc(300px * 7);
}

.stars-with-8 {
    width: calc(300px * 8);
}

.stars-with-9 {
    width: calc(300px * 9);
}

.stars-with-10 {
    width: calc(300px * 10);
}
