.chart-container {
    width: calc(100vw - 8px);
}

.chart-content {
    width: calc(100% - 8px);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inner-chart-content {
    height: 40px;
    flex-grow: 1;
}

.chart-line {
    content: "";
    display: block;
    height: 40px;
    background-color: #40916c;
}

.chart-line:hover,
.chart-line:active {
    border: 1.5px solid #a2d2ff;
    background-color: #4eb185;
    cursor: pointer;
}

.chart-element-text {
    min-width: 70px;
}

.chart dt {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.chart-cross-line {
    height: 1px;
    background-color: gray;
}

.total-activities {
    margin: 1rem 0;
    font-size: 1.2rem;
}
