<% if (!htmx.isHTMX || (htmx.isHTMX && htmx.isBoosted)) { %>
<% layout("layouts/boilerplate.ejs") -%>
<% } %>

<div id="collections-lists-global-row" class="row h-100">
    <%- include("./collections_lists_list.ejs", { lists: lists, selectedID: listID }) %>
    <%- include("./items/unknown_item.ejs") %>
</div>
