<div id="collections-lists-list-outer-column" class="col-4 m-0 p-0">
    <div class="card h-100">
        <div class="card-header">Collections/Lists</div>
        <div id="collections-lists-list-button" class="list-group list-group-flush">
            <% for (const list of lists) { %>
                <button 
                    type="button" 
                    class="list-group-item list-group-item-action <%= selectedID == list.id  ? 'active' : ''%>"
                    hx-get="/collections/lists/<%= list.id %>"
                    hx-target="#collections-lists-global-row"
                    hx-swap="outerHTML"
                    hx-push-url="true"
                ><%= 
                    list.parentCollection.name %>/<%=
                    list.name %>
                </button>
            <% } %>
        </div>
    </div>
</div>

<!--<script src="/javascript/htmx/collections/collections_lists_list.js" defer></script>-->
