<%- layout("layouts/boilerplate") %>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <form action="/users/lostpassword/<%= tokenID %>" method="post">
                <div class="card-body">
                    <h5 class="card-title fs-4">Create a new password</h5>
                    <div class="mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" name="password" id="password">
                    </div>
                    <div class="mb-3">
                        <label class="form-label"  for="retyped-password">Retyped password</label>
                        <input class="form-control" type="password" name="retypedPassword" id="retyped-password">
                    </div>
                    <button class="btn btn-success d-block w-100" type="submit">Set password</button>
                </div>
            </form>
        </div>
    </div>
</div>
