<%- layout("layouts/boilerplate") %>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form action="/users/lostpassword" method="post">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fs-4">Lost password</h5>
                    <div class="mb-3">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control" type="email" name="email" id="email">
                    </div>
                    <button class="btn btn-success d-block w-100" type="submit">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
