<%- layout("layouts/boilerplate") %>

<style>
    .display-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
</style>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><%= user.username %></h4>
                <div class="display-row d-flex flex-row justify-content-between align-items-center">
                    <p class="text-muted">Email: <span id="email-content-text"><%= user.email %></span></p>
                    <button class="btn btn-info btn-sm" id="open-email-change-modal">Change</button>
                </div>
                <div class="display-row d-flex flex-row justify-content-between align-items-center">
                    <p class="text-muted">Password: ****</p>
                    <button class="btn btn-info btn-sm" id="open-password-change-modal">Change</button>
                </div>

                <div>
                    <button class="btn btn-danger" id="open-delete-user-modal-button">Delete User</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--The update modal-->
<div class="modal fade" tabindex="-1" id="updateContentModal" aria-labelledby="updateContentModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-title">Modal Title</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%- include("../partials/modalErrorCard.ejs") %>
                <div id="email-update-input" class="">
                    <div class="mb-3">
                        <label class="form-label" for="input-email">New Email</label>
                        <input class="form-control" type="email" id="input-email">
                    </div>
                    <div>
                        <label class="form-label" for="input-password">Password</label>
                        <input class="form-control" type="password" id="input-password">
                    </div>
                </div>
                <div id="password-update-input" class="">
                    <div class="mb-3">
                        <label class="form-label" for="current-password">Current Password</label>
                        <input class="form-control" type="password" id="current-password">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="new-password">New Password</label>
                        <input class="form-control" type="password" id="new-password">
                    </div>
                    <div>
                        <label class="form-label" for="retype-new-password">Retape New Password</label>
                        <input class="form-control" type="password" id="retype-new-password">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" id="button-submit-new-email">Update Email</button>
                <button class="btn btn-primary" id="button-submit-new-password">Update Password</button>
            </div>
        </div>
    </div>
</div>

<!--Modal to ask user to confirm deletion-->
<div class="modal fade" tabindex="-1" id="ask-for-user-deletion" aria-labelledby="confirmDeletion" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete User</h1>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card text-bg-danger mb-3 d-none modal-error-card">
                    <div class="card-body">
                        <span class="modal-error-text">Some Text!</span>
                    </div>
                </div>
                <p>Do you really want to delete this user? There is no going back!</p>
                <div class="delete-user-input">
                    <div>
                        <label class="form-label" for="delete-current-password">Current Password</label>
                        <input class="form-control" type="password" id="delete-current-password">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-danger" id="button-delete-user">Delete User</button>
            </div>
        </div>
    </div>
</div>

<script type="module" src="/javascript/users/openUpdateModal.1.0.0.js"></script>

