<div id="modal-import-custom-columns-from" class="modal fade" tabindex="-1" x-init="new bootstrap.Modal($el).show()" aria-labelledby="importCustomColumnsFrom" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Import Custom Columns From</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="input-group mb-3"
                    hx-get="/collections/lists/<%= listID %>/custom-columns/import-from-modal"
                    hx-push-url="false"
                    hx-target="#import-custom-columns-from-collections-lists-list"
                    hx-swap="outerHTML"
                    hx-headers='{"GS-SearchState":"true"}'
                >
                    <input class="form-control" type="text" name="search" placeholder="Search">
                    <button type="submit" class="btn btn-outline-secondary">Search</button>
                </form>

                <form class="card"
                    id="modal-import-custom-columns-from-submit-form"
                    hx-post="/collections/lists/<%= listID %>/custom-columns/import-from"
                    hx-push-url="false"
                >
                    <ul class="list-group list-group-flush custom-columns-from-list" id="import-custom-columns-from-collections-lists-list">

                    </ul>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="modal-import-custom-columns-from-submit-button" type="button" class="btn btn-outline-secondary">Import</button>
            </div>
        </div>
    </div>
</div>
