<% if (!htmx.isHTMX || (htmx.isHTMX && htmx.isBoosted)) { %>
<% layout("layouts/boilerplate.ejs") -%>
<% } %>

<div class="row h-100"
    hx-get="<%= originalUrl %>?fullPageLoad=true"
    hx-swap="outerHTML"
    hx-trigger="load"
>
    <%- include("../partials/collections_lists_empty.ejs") %>
    <%- include("../partials/items_empty.ejs") %>
</div>
