<div id="collections-items-list-row" class="col-8 m-0 p-0">
    <div class="card h-100">
        <div class="card-header">
            <div class="btn btn-outline-secondary p-0 px-1 m-0 h-100" style="font-size: 0.75rem;"
                <% const endpoint = `/collections/lists/${listID}`; %>
                hx-get="<%= endpoint %>?onlyItems=true"
                hx-target="#collections-items-list-row"
                hx-swap="outerHTML"
                hx-push-url="<%= endpoint %>"
            >&lt;</div>
            New Item
        </div>
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <div>New Item</div>
        </div>
    </div>
</div>
