.iconLinkButton:hover,
.iconLinkButton:active {
    display: inline-block;
    background-color: #e0e1dd;
    border-radius: 4px;
}

.iconLinkButton img {
    width: 40px;
    aspect-ratio: 1/1;
}

.iconLinkButton.reversed img {
    transform: scaleY(-1);
}

button.iconLinkButton {
    background-color: transparent;
    border: none;
}

.customColumnButton {
    display: block;
    background-color: transparent;
    border: none;
}

.customColumnButton:hover,
.customColumnButton:active {
    filter: brightness(0.2);
}

.customColumnButton img {
    display: block;
    width: 20px;
    aspect-ratio: 1/1;
}
