.iconLinkButton img {
    width: 32px;
    aspect-ratio: 1/1;
}

.iconLinkButton img.revert-color {
    filter: invert();
}

.iconLinkButton.reversed img {
    transform: scaleY(-1);
}

.iconLinkButton.reversed svg {
    transform: scaleY(-1);
}

.iconLinkButton svg.revert-color {
    filter: invert();
}

button.iconLinkButton {
    background-color: transparent;
    border: none;
}

.customColumnButton {
    display: block;
    background-color: transparent;
    border: none;
}

.customColumnButton:hover,
.customColumnButton:active {
    filter: brightness(0.2);
}

.customColumnButton img {
    display: block;
    width: 20px;
    aspect-ratio: 1/1;
}
