<% layout("layouts/boilerplate.ejs") -%> 

<link rel="stylesheet" href="/styles/sorting-styles.css">

<div class="card">
    <div class="card-body">
        <h1 class="card-title fs-3" data-toggle="tooltip" title="How to sort the items">Sorting Options</h1>

        <div class="top-button-container">
            <button class="btn btn-secondary btn-noborder active" type="button" id="no-sorting-button">None</button>
            <button class="btn btn-secondary btn-noborder" type="button" id="sorting-by-name-button">Name</button>
            <button class="btn btn-secondary btn-noborder" type="button" id="sorting-by-rating-button">Rating</button>
        </div>

        <div class="no-order" id="no-order-block">
            <p class="no-order-text">No sorting selected!</p>
        </div>

        <div class="d-none" id="by-name-ordering-block">
            <p class="no-order-text">Sorting by name!</p>
        </div>

        <div class="d-none" id="by-rating-ordering-block">
            <p class="no-order-text">Sorting by rating!</p>
        </div>

        <a class="btn btn-secondary" href="/collections/<%= list.parentCollection.id %>/lists/<%= list.id %>/">Back</a>
        <button class="btn btn-success" type="button" id="submit-order-change">Submit</button>

    </div>
</div>

<script>
    const list = <%- JSON.stringify(list, (key, value) => typeof value === "bigint" ? value.toString() : value) %>;
    const listSorting = <%- JSON.stringify(listSorting, (key, value) => typeof value === "bigint" ? value.toString() : value) %>;
</script>
<script src="/javascript/collections/lists/sorting/sorting-page-edit.js" type="module"></script>
